@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");
:root {
  --BrightOrange: hsl(31, 77%, 52%);
  --DarkCyan: hsl(184, 100%, 22%);
  --VeryDarkCyan: hsl(179, 100%, 13%);

  --TransparentWhite: hsla(0, 0%, 100%, 0.75);
  --VeryLightGray: hsl(0, 0%, 95%);
}

* {
  box-sizing: border-box;
  margin: 0;
}

main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.card_container {
  width: 90%;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
}

.content_container {
  height: 500px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.one {
  background-color: var(--BrightOrange);
}
.two {
  background-color: var(--DarkCyan);
}
.three {
  background-color: var(--VeryDarkCyan);
}

.logo {
  margin: 0px 0px 20px 0px;
  height: 60px;
  width: 60px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.one .logo {
  background-image: url(./images/icon-sedans.svg);
}
.two .logo {
  background-image: url(./images/icon-suvs.svg);
}
.three .logo {
  background-image: url(./images/icon-luxury.svg);
}

.content_container h1 {
  font-family: "Big Shoulders Display";
  font-size: 40px;
  font-weight: 700;
  color: var(--VeryLightGray);
  text-transform: uppercase;
  margin-bottom: 50px;
  margin-top: 10px;
}
.content_container p {
  flex: 1;
  font-family: "Lexend Deca";
  font-size: 15px;
  line-height: 30px;
  color: var(--TransparentWhite);
}

.content_container button {
  font-family: "Lexend Deca";
  height: 50px;
  width: 150px;
  border-radius: 40px;
  /* border: none; puedes reemplazar los border por sombras */
  margin-top: 20px;
  cursor: pointer;
  /* Es preferente agregar una animación para los efectos de :hover, :focus, etc.*/
  transition: color .5s ease, box-shadow .5s ease, background-color .5s ease; 
  /*la sintaxis es => transition: 'propiedad que cambia' 'tiempo de duracion' cubic bezier() para esta ultima recomiento esta pag(https://cubic-bezier.com/)*/
  box-shadow: 0 0 0 0 transparent;
  box-sizing: border-box;
}

.content_container button:hover {
  color: white;
  background-color: transparent;
  box-shadow: 0 0 0 2px white
}

.btn1 {
  color: var(--BrightOrange);
}
.btn2 {
  color: var(--DarkCyan);
}
.btn3 {
  color: var(--VeryDarkCyan);
}

.attribution {
  font-size: 13px;
  position: absolute;
  bottom: 10px;
}
.attribution a {
  color: var(--BrightOrange);
  text-decoration: none;
}

.attribution a:hover {
  color: var(--DarkCyan);
}

@media screen and (min-width: 1000px) {
  main {
    height: 100vh;
  }
  .card_container {
    width: 80%;
    height: 500px;
    flex-direction: row;
    margin: 0;
  }
  .content_container {
    padding: 50px 80px;
  }
}
